@media screen and (max-width: 878px){
    .album{
        width: calc(100% / 4 - 10px);
        height: auto;
        text-align: center;
    }

    .music{
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px;
    }

    .ul-flex{
        flex-shrink: 1;
        transform: scale(0.7);
    }

    footer{
        width: 100%;
    }

}

/* small */

@media screen and (max-width: 639px){
    .album{
        width: calc(100% / 2 - 10px);
        height: auto;
        text-align: center;
    }

    .music{
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px;
    }

    .ul-flex{
        transform: scale(0.5);
        flex-wrap: wrap;
        margin: 0;
    }

}

/* extra small */

@media screen and (max-width: 552px){
    .album{
        width: calc(100% / 2 - 10px);
        height: auto;
        text-align: center;
    }

    .music{
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px;
    }

    .ul-flex{
        transform: scale(0.4);
        flex-wrap: wrap;
        margin: 0;
    }

    .side{
        width: 100px;
    }

    .left-container{
        width: calc(100% - 100px);
        height: 100%;
    }

    .playlist>*{
        display: none;
    }

    .icons>p{
        display: none;
    }

    .profile>p{
        display: none;
    }

}