:root{
    --h-f-height: 80px;
    --sidebar-width: 300px;
    --secondary-color: #797b80;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgb(32, 32, 32);
}


.top-container{
    height: calc(100vh - var(--h-f-height));
    display: flex;

    /* debug */
    border: 2px dashed white;
}


.left-container{
    width: calc(100% - var(--sidebar-width));
    height: 100%;
    
    /* debug */
    border: 5px solid blue;
}

/**************
HEADER 
**************/

header{
    height: var(--h-f-height);
    width: calc(100% - var(--sidebar-width));
    position: fixed;

    background-color: rgba(0, 0, 0, 0.327);

}

button{
    color: white;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50px;
    padding: 10px 30px;

    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
}

/**************
MAIN 
**************/

main{
    padding-top: var(--h-f-height);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #141922;
}

.links{
    margin-top: 20px;
}

.ul-flex{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    color: var(--secondary-color);
}

.album>p{
    margin-top: 5px;
}

.subtitle{
    color: var(--secondary-color);
    font-size: 14px;
    margin-top: 5px;
}

/* section */

.content{
    padding: 10px;
    margin-top: 30px;
}

.title{
    font-size: 30px;
}

.music{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.music.duo{
    justify-content: start;
    gap: 10px;
}

.album{
    width: calc(100% / 6 - 10px);
    height: auto;
    text-align: center;
}

.album.radio>img{
    border-radius: 50%;
}

/* sidebar */

.side{
    width: var(--sidebar-width);
    padding: 10px;
    
    /* debug */
    border: 5px solid green;
}

.logo{
    text-align: center;
    padding: 0 30px;
}

.icons{
    display: flex;
    align-items: center;
    
}

.icons>img{
    width: 30px;
}

/* footer */

footer{
    height: var(--h-f-height);
    display: flex;
    justify-content: space-between;

    /* debug */
    border: 2px dashed red;
}

footer>*{
    background-color: darkgray;
    height: 100%;
    width: 100px;
}

