body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgb(32, 32, 32);
}


.top-container{
    height: calc(100vh - 70px);
    display: flex;

    /* debug */
    border: 2px dashed white;
}


.left-container{
    width: calc(100% - 250px);
    height: 100%;
    
    /* debug */
    border: 5px solid blue;
}

/* header */

header{
    height: 50px;
    width: calc(100% - 650px);
    position: fixed;
    
    
    /* debug */
    border: 2px dashed purple;
}

/* main */

main{
    padding-top: 50px;
    width: 100%;
    height: 100%;
    overflow: auto;


    /* debug */
    border: 2px dashed orange;
}

.ul-flex{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
}

/* section */

.content{
    padding: 10px;
    margin-top: 30px;
}

.title{
    font-size: 30px;
}

.music{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.music.duo{
    justify-content: start;
    gap: 10px;
}

.album{
    width: calc(100% / 6 - 10px);
    height: auto;
    text-align: center;
}

/* sidebar */

.side{
    width: 250px;
    height: 100%;
    padding: 10px;
    
    /* debug */
    border: 5px solid green;
}

.logo{
    text-align: center;
    padding: 0 30px;
}

.icons{
    display: flex;
    align-items: center;
    
}

.icons>img{
    width: 30px;
}

/* footer */

footer{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    /* debug */
    border: 2px dashed red;
}

footer>*{
    background-color: darkgray;
    height: 100%;
    width: 100px;
}

